* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: rgba(0,0,0,0.5);
}

.App {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
        "header header"
        "main main";
    justify-items: center; */
}

.container{
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
        /* "header header" */
        "main main";
    justify-items: center;
}
.site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
    text-align: center;
    height: 20vh;
    margin-bottom: 50px;
    color: white;
    border-bottom: 1px solid white;
}

.content {
    /* grid-area: main; */
    /* text-align: center; */
}

.site-nav ul {
    margin-top: 1em;
    text-align: center;
}
.site-nav li {
    list-style: none;
    display: inline;
    padding: 5px;
}

.wod-inputs .movements{
    display: block;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

.wods {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px;
    border: 1px solid black;
    padding: 25px;
}

.full-width{
    grid-column: 1 / -1;
}