@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background:#424242;
    font-family: 'Roboto', sans-serif;
}

h1,
p{
    color: #fff;
}

.sign-up{
    color: #dd2c00;
}

.movement-input label::before{
    content:"* ";
    color: #dd2c00;
    font-weight: bold;
}

.page-header{
    padding: 0 !important;
}

/* Color text inputs the same as overall site color theme */

.input-field input[type=text]:focus + label, 
.input-field input[type=number]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
    color: #dd2c00;
}

.input-field input[type=text]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #dd2c00;
    box-shadow: 0 1px 0 0 #dd2c00;
    color: #fff;
    font-size: 2em;
}

.input-field input[type=text],
.input-field input[type=number],
.input-field input[type=password],
.input-field input[type=email] {
    color: #fff;
    font-size: 2em;
}

.dropdown-content {
    background: #dd2c00;
}

.dropdown-content li>a {
    color: #fff;
}

.dropdown-content li>a:hover{
    color: #dd2c00;
}

.card-panel {
    height: 32em;
    overflow: scroll;
}